.admin-container .ant-layout-sider-collapsed {
    .logo {
        background-image: none!important;
    }
}
.admin-container {
    height: 100%;
    .trigger {
        font-size: 18px;
        line-height: 64px;
        padding: 0 24px;
        cursor: pointer;
        transition: color .3s;
    }
    
    .trigger:hover {
        color: #1890ff;
    }

    .logo {
        height: 64px;
        background-image: url('~img/logo1.png');
        background-position: center center;
        background-size: 118px 40px;
        background-repeat: no-repeat;
        background-color: #5786e7;
    }
}

#root {
    height: 100%;
    .main {
        height: 100%;
    }
}