.filter-list {
    display: flex;
    justify-content: space-around;
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> fix filter
    margin-bottom: 10px;
    & > * {
        flex: 1;
        margin: 0 10px;
<<<<<<< HEAD
=======
    & > * {
        flex: 1;
>>>>>>> add filter for charts
=======
>>>>>>> fix filter
    }
}