.appointment-container {
    display: flex;
    padding-top: 15px;
    .appoint-left {
        width: 85px;
        .send-btn {
            border: 1px solid #eee;
            height: 80px;
            font-size: 20px;
            text-align: center;
            padding-top: 20px;
            font-size: 16px;
            line-height: 22px;
            &::before {
                content: '';
                width: 39px;
                height: 23px;
                display: block;
                margin: auto;
                background: url(~img/icons/icon-11.png) center center no-repeat;
                background-size: contain;
            }
        }
    }
    .appoint-main {
        flex: 1;
        padding-left: 23px;
        .ant-form-item {
            margin-bottom: 12px;
        }
        .my-date-picker {
            margin-right: 10px;
        }
        .item {
            display: flex;
            align-items: center;
            .rooms {
                &::before {
                    content: '';
                    display: inline-block;
                    background: url(~img/icons/icon-15.png) no-repeat;
                    width: 79px;
                    height: 20px;
                    background-size: contain;
                    margin-left: 10px;
                }
            }
            .my-date-picker {
                margin-right: 20px;
            }
        }
    }
}

.add-room-container {
    .room-item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 0 0 10px 0;
        .room-title {
            width: 100px;
        }
        .my-date-picker {
            margin-right: 10px;
        }
    }
    .room-select {
        justify-content: center;
    }
}

.add-recurrence-container {
    .rcu-title {
        width: 100px;
    }
    .rcu-item {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
}