.meeting-board-container {
    background: #000;
    color: #fff;
    .meeting-logo {
        background: url(~img/logo.png) no-repeat;
        background-size: contain;
        width: 370px;
        height: 140px;
        display: inline-block;
    }
    .meeting-sub-logo {
        background: url(~img/sub-logo.png) no-repeat;
        background-size: contain;
        width: 370px;
        height: 140px;
        display: inline-block;
    }
}