@import './loading.less';

.app-logo {
    height: 40px;
}
@font-face {
    font-family: 'anticon';
    src: url('~fonts/font_anticon.eot');
    /* IE9*/
    src: url('~fonts/font_anticon.woff') format('woff'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('~fonts/font_anticon.ttf') format('truetype'), /* iOS 4.1- */ url('~fonts/font_anticon.svg#iconfont') format('svg');
}
.app-header {
    background-color: #000;
    height: 55px;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 32px;
    justify-content: space-between;
    img {
        height: 80%;
    }
}

.app-main {
    background: #eee;
    padding:  7px 0;
    .pane {
        background-color: #fff;
    }

}

.app-footer {
    text-align: center;
    line-height: 30px;
    background-color: #eee;
}
.card-container {
    .tabs {
        display: flex;
        list-style: none;
        font-size: 18px;
        margin-bottom: 0;
        padding-left: 30px;
        li {
            height: 40px;
            line-height: 40px;
            width: 156px;
            text-align: center;
            padding-bottom: 10px;
            &.active {
                background-color: #fff;
            }
        }
    }
    .tabpanes {
        background-color: #fff;
    }
}
.card-container > .ant-tabs-card {

    .ant-tabs-content {
        margin-top: -16px;
    }

    .ant-tabs-content > .ant-tabs-tabpane {
        background: #fff;
        padding: 0 16px;
    }

    .ant-tabs-bar {
        border-color: #fff;
    }

    .ant-tabs-bar .ant-tabs-tab {
        border-color: transparent;
        background: transparent;
    }

    .ant-tabs-bar .ant-tabs-tab-active {
        border-color: #fff;
        background: #fff;
    }
}
