.nav-container {
    display: flex;
    .nav-zone {
        display: flex;
        height: 110px;
        border-right: 1px solid #eee;
        border-bottom: 2px solid #eee;
        align-items: center;
    }
    .nav-zone1 {
        display: table;
        width: 9999px;
        height: 110px;
        // border-left: 1px solid #eee;
        border-bottom: 2px solid #eee;
        border-right: none;
    }
}