.schedule-contianer {
    padding-bottom: 20px;
    .schedule-main {
        padding: 20px 0;
        display: flex;
        padding-top: 15px;
        padding-left: 20px;
        border: 1px solid #e5e5e5;
        box-shadow: 0 2px 4px #eee;
    }
    .schedule-left {
        width: 150px;
        white-space: nowrap;
        .attendees {
            text-align: left;
            .select-all {
                height: 33px;
                line-height: 33px;
            }
            .ant-checkbox-wrapper {
                display: block;
                width: 150px;
                height: 20px;
            }
        }
        .send-btn2 {
            border: 1px solid #eee;
            width: 126px;
            font-size: 32px;
            text-align: center;
            font-size: 14px;
            line-height: 22px;
            height: 32px;
            vertical-align: middle;
            margin-bottom: 5px;
            &::before {
                content: '';
                width: 26px;
                height: 23px;
                display: inline-block;
                margin: auto;
                background: url(~img/icons/icon-11.png) center center no-repeat;
                background-size: contain;
                vertical-align: middle;
            }
            &::after {
                content: '';
                height: 100%;
                display: inline-block;
                vertical-align: middle;
            }
        }
    }
    .schedule-content {
        flex: 1;
        width: 0;
        overflow: auto;
        .schedule-date {
            line-height: 38px;
            height: 38px;
            .btn {
                width: 14px;
                margin-right: 4px;
                &:hover {
                    color: #999;
                    cursor: pointer;
                }
            }
        }
        table {
            border-left: 1px dashed #eee;
            border-right: 1px dashed #eee;
            table-layout:auto;
            background-color: #fffbff;
            thead {
                outline: 1px solid #eee;
            }
            tbody {
                tr {
                    height: 20px;
                }
            }
            tr {
                outline: 1px dashed #eee;
            }
            th {
                min-width: 50px;
                background-color: #f7fbff;
                text-align: left;
                height: 33px;
                color: #999;
                font-size: 12px;
            }
            td {
                background-color: #fffbff;
                min-width: 50px;
                text-align: center;
                height: 18px;
                border-right: 1px solid #eee;
            }
        }
    }
    .schedule-footer {
        .item {
            display: flex;
            margin-top: 20px;
            line-height: 18px;
            .label {
                line-height: 33px;
            }
        }
    }
}